* {
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 
 
 body {

    background: rgb(255, 255, 255);
    font-family: arial;
    color:rgb(0, 0, 0);

 }


.d-flex{
    gap:6vh
}

 
