* {
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 
 
 body {

    background: rgb(255, 255, 255);
    font-family: arial;
    color:rgb(0, 0, 0);

 }


.d-flex{
    gap:6vh
}

 ul{
    padding: 75px 0px;
 }
 
 a:link{
     color: rgb(25, 3, 146);
     text-decoration: none;
 }
 
 a:visited{
     color: rgb(98, 82, 241);
 }
 
