{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Page d'accueil</title> 

  <!-- Custom fonts for this template-->
  <link href="{% static 'Client/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'Client/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'Client/style.css' %}" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PeakPoke</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
              <div class="dropdown-menu dropdown-menu-right">
                  <a href="/admin/Article/article" class="dropdown-item">Article</a>
                  <a href="/admin/Client/client" class="dropdown-item">Client</a>
                  <a href="/admin/Pub/pub"class="dropdown-item">Pub</a>
              </div>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/Client">Client</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Pub" tabindex="-1">Pub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Equipe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <main>
  
    <div class = "jumbotron">
      <img id="peapokeLogo" src="{% static 'Client/img/img_garde.png' %}">
      <div class="presentation">
        <h1>PeakPoke</h1> 
        <p>Bienvenue sur le site de PeakPoke</p>
      </div>
      
    </div>
  
    <section class="container">
      <div class="row">

          <div class="col-md-4">
              <div class="card my-2 shadow p-3 mb-5">
                  <h5 class="card-header">Contributeur</h5>
                  <div class="card-body">

                      <h6 class="card-subtitle mb-2 text-muted">Description et présentation bref de l'équipe de PeakPoke 
                      </h6>
                      <p class="card-text">Etudiant en 3ème année d'Informatique à l'Université d'Evry Courcouronnes
                      </p>
                      <a class="btn btn-primary m-1" href="https://github.com/nitnelavsT/PeakPoke/graphs/contributors">Lien</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card my-2 shadow p-3 mb-5">
                <h5 class="card-header">Github</h5>
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-muted">Page officiel de notre Github 
                    </h6>
                    <p class="card-text">C'est sur ce dernier que nous partageons les dernières mises à jour ainsi que le cahier des charges de notre projet
                    </p>
                    <a class="btn btn-primary m-1" href="https://github.com/nitnelavsT/PeakPoke">Lien</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <a href="javascript:document.location.href=aBannieres[nBanPos].url" onMouseOver="window.status=aBannieres[nBanPos].url; return true" onMouseOut="window.status=’’;">
          <img src="http://trucsweb.com/images/ban-ue.png" alt="Chargement..." style="width:300px" name="twban" border="0" onMouseOver="this.title=aBannieres[nBanPos].texte;"/></a>
          
      </div>
      </div>
  </section>
  
  </main>
  
  
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  
        
    </body>
                    <script type="text/javascript">
                      var nBanDelais = 10;
                      aBannieres = new Array();
                      // Bannières
                      aBannieres[0] = new twBanniere("https://www.bricorama.fr/","https://www.diables-rouges.fr/wp-content/uploads/2018/04/ope-we.jpg","titre 1");
                      aBannieres[1] = new twBanniere("https://www.castorama.fr/","http://www.bonsplansagogo.com/wp-content/uploadsaimonn/2015/01/promo-castorama.png","titre= 2");
                      aBannieres[2] = new twBanniere("https://www.bricomarche.com/","https://archiv.kompasslev.cz/vos-promos.fr//public/gimg/9/6/2/6/9/8/962698-900-100000.jpg","titre= 3");
                    
                      // Ne pas modifier le code suivant
                      function twBanniere(_url,_src,_texte) {this.url=_url;this.src=_src;this.texte=_texte;}
                    
                      function twRotation(){
                        nBanPos=(nBanPos<nBanMax-1)?nBanPos+1:0;
                        if (document.all){
                          document.images["twban"].style.filter="blendTrans(duration=2)";
                          document.images["twban"].style.filter="blendTrans(duration=CrossFadeDuration)";
                          document.images["twban"].filters.blendTrans.Apply();
                        }
                        document.images["twban"].src=aBannieres[nBanPos].src;


                        oTimer = setTimeout("twRotation()",nBanDelais*1000);
                        }
                        var nBanPos = 0;
                        var oTimer;
                        var nBanMax = aBannieres.length;
    
                        //
                      </script>

                        <script type="text/javascript" language="javascript">
                        twRotation();
                         // 
                        </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>



</body>

</html>
